<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="description" content="mon contenu ">
    <link
        rel="stylesheet"
        href="static/pico.min.css"
        />
</head>
<body>
    <nav>
        <ul>
          <li><strong>Acme Corp</strong></li>
        </ul>
        <ul>
          <li><a href="#" class="contrast">About</a></li>
          <li><a href="#" class="contrast">Services</a></li>
          <li><a href="#" class="contrast">Products</a></li>
        </ul>
      </nav>

    <h1>Hello {{ .Name }}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

    <article>I’m a card!</article>

    <div>
        <table>
            <thead>
              <tr>
                <th scope="col">Planet</th>
                <th scope="col">Diameter (km)</th>
                <th scope="col">Distance to Sun (AU)</th>
                <th scope="col">Orbit (days)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Mercury</th>
                <td>4,880</td>
                <td>0.39</td>
                <td>88</td>
              </tr>
              <tr>
                <th scope="row">Venus</th>
                <td>12,104</td>
                <td>0.72</td>
                <td>225</td>
              </tr>
              <tr>
                <th scope="row">Earth</th>
                <td>12,742</td>
                <td>1.00</td>
                <td>365</td>
              </tr>
              <tr>
                <th scope="row">Mars</th>
                <td>6,779</td>
                <td>1.52</td>
                <td>687</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th scope="row">Average</th>
                <td>9,126</td>
                <td>0.91</td>
                <td>341</td>
              </tr>
            </tfoot>
          </table>
    </div>
</body>
</html>